<h1> Come Join Beddit! </h1>

<form action="<%= users_url %>" method="POST">
<%= auth_token %>
  <label for="user_name">Username:</label>
  <input type="text"
         id="user_name"
         name="user[username]"
         value="<%= @user.username %>">

  <label for="user_password">Password:</label>
  <input type="text"
         id="user_password"
         name="user[password]">

    <input type="submit">
</form>
